@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

@theme {
  --font-sans: "Nunito", sans-serif;
  --color-app-bg: #F3F1EC;
  --color-app-green: #22C55E;
  --color-app-green-dark: #16A34A;
  --color-app-yellow: #FBBF24;
  --color-app-dark: #1F2937;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-app-bg);
  color: var(--color-app-dark);
  -webkit-font-smoothing: antialiased;
}
